# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Bartosz Golaszewski <bartosz.golaszewski@linaro.org>

[Unit]
Description=Centralized GPIO manager daemon

[Service]
Type=dbus
BusName=io.gpiod1
ExecStart=/usr/bin/gpio-manager
Restart=always

[Install]
WantedBy=multi-user.target
